<article class="incident-list">

  <table *ngIf="customers.length > 0" id="table" class="table table-striped incident-table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">CI</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ customer.ci }}</td>
      <td>{{ customer.firstName +' '+ customer.lastName}}</td>
      <td>{{ customer.email }}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button"
                  class="btn btn-outline-light fa fa-pencil"
                  (click)="onUpdateAction($event, customer)"></button>
          <button type="button"
                  class="btn btn-outline-warning fa fa-trash"
                  (click)="onDeleteAction($event, customer)"></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="customers.length <= 0" class="jumbotron bg-transparent incidents-list-jumbotron">
    <h1 class="display-4 text-center">Congratulations!</h1>
    <hr class="my-4 incidents-list-jumbotron-divider">
    <p class="lead">Your company doesn't have any Customer until this moment.</p>
  </div>

</article>
