<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../../../assets/images/Caro1.jpg" alt="Random first slide" class="carousel-img">
    <div class="carousel-caption">
      <h3>THE FUTURE BELONGS TO THOSE WHO BUILD IT</h3>
      <p>Do not forget!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/images/Caro2.jpg" alt="Random second slide" class="carousel-img">
    <div class="carousel-caption">
      <h3>THE FUTURE BELONGS TO THOSE WHO BUILD IT</h3>
      <p>It is a teaching and learning process.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/images/Caro3.jpg" alt="Random third slide" class="carousel-img">
    <div class="carousel-caption">
      <h3>BUILT FOR IT</h3>
      <p>Safe conditions within the work environment.</p>
    </div>
  </ng-template>
</ngb-carousel>
