<article class="incident-list">

  <table *ngIf="brands.length > 0" id="table" class="table table-striped incident-table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let brand of brands; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ brand.code }}</td>
      <td>{{ brand.name }}</td>
      <td>{{ brand.description }}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button"
                  class="btn btn-outline-light fa fa-pencil"
                  (click)="onUpdateAction($event, brand)"></button>
          <button type="button"
                  class="btn btn-outline-warning fa fa-trash"
                  (click)="onDeleteAction($event, brand)"></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="brands.length <= 0" class="jumbotron bg-transparent incidents-list-jumbotron">
    <h1 class="display-4 text-center">Congratulations!</h1>
    <hr class="my-4 incidents-list-jumbotron-divider">
    <p class="lead">Your company doesn't have any Brand until this moment.</p>
  </div>

</article>
