<nav class="nav-container">
  <ul class="nav-list">
    <li class="nav-item">
      <img src="../../../../assets/images/logo.png" class="img-thumbnail-logo home-content-img-size" alt="Cinque Terre">
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="#">About Me</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="#">Finance and accounting</a>
      <ul class="nav-list nav-submenu">
        <li class="nav-item"><a class="nav-link" routerLink="#">Purchases</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/sellers">Sales</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/customers">Customers</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="#">Catalogs</a>
      <ul class="nav-list nav-submenu">
        <li class="nav-item"><a class="nav-link" routerLink="/brands">Brands</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="#">Catalogs</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="/products">Products</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/quotations">Contact Us</a></li>
  </ul>
</nav>
