<article class="incident-list">

  <table *ngIf="sellers.length > 0" id="table" class="table table-striped incident-table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Sell</th>
      <th scope="col">Customer</th>
      <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let seller of sellers; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ seller.description }}</td>
      <td>{{ seller.product.name}}</td>
      <td>{{ seller.quantity}}</td>
      <td>{{ seller.totalSell}}</td>
      <td>{{ seller.customer.firstName + ' ' + seller.customer.lastName}}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button"
                  class="btn btn-outline-light fa fa-pencil"
                  (click)="onUpdateAction($event, seller)"></button>
          <button type="button"
                  class="btn btn-outline-warning fa fa-trash"
                  (click)="onDeleteAction($event, seller)"></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="sellers.length <= 0" class="jumbotron bg-transparent incidents-list-jumbotron">
    <h1 class="display-4 text-center">Congratulations!</h1>
    <hr class="my-4 incidents-list-jumbotron-divider">
    <p class="lead">Your company doesn't have any Seller until this moment.</p>
  </div>

</article>
